/* Media query for responsivity */
/* Small screens */
@media screen and (max-width: 40em) {
	#menu.navbar {
		padding-top: 0;
		background-color: #3F475B;
	}

	#menu ul {
		display: block;
	}

	#menu a {
		color: white;
	}
}

/* Medium screens  */
@media screen and (min-width: 40em) and (max-width: 63.9375em) {
}

/* Small and medium screens */
@media screen and (max-width: 9375em) {
}

/* Phone screens */
@media only screen and (max-width: 768px) {
	body div.splash {
		background-attachment: inherit;
	}
}

/* Shared styles */
.flex {
	display: flex;
}

.border-right {
	border-right: 1px solid #DDD;
}

/* Icon styles */
.icon {
	text-align: center;
	margin: auto;
}

.icon span {
	padding: 0 10px;
	color: white;
	font-size: 40px;
	cursor: pointer;
	-webkit-transition : color 300ms ease-in-out;
  -moz-transition : color 300ms ease-in-out;
  -o-transition : color 300ms ease-in-out;
  transition : color 300ms ease-in-out;
}

.icon span:hover {
	color: lightblue;
}

/* Footer styles */
.footer {
	right: 0;
	bottom: 0;
	left: 0;
	padding: 2rem;
	background-color: #efefef;
	text-align: center;
}

.footer span {
	padding: 5px;
	font-size: xx-large;
	color: #3F475B;
	-webkit-transition : color 300ms ease-in-out;
  -moz-transition : color 300ms ease-in-out;
  -o-transition : color 300ms ease-in-out;
  transition : color 300ms ease-in-out;
}

.footer span:hover {
	color: lightblue;
}

.footer a:hover, .footer a:active, .footer a:focus {
	text-decoration: none;
	color: lightblue;
}

/* Splash page styles */
.splash {
	top: 0;
  position: absolute;
	z-index: 1;
	width: 100vw;
	display: flex;
}

.splash-detail {
	margin: auto;
}

.splash-detail h1 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
	color: white;
}

#welcome-splash {
	background-image: url('../images/purple-nebulae.jpg');
	background-color: lightblue;
	background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
	min-height: 100vh;
}

#about-splash {
	background-color: lightblue;
	min-height: 50vh;
}

/* Navigation bar styles */
#menu {
	background-color: transparent;
	position: sticky;
	top: 0;
	z-index: 2;
}

#menu ul {
	background-color: transparent;
	margin-right: 0.625rem;
}

#menu span {
	color: white;
	font-size: 20px;
}

#menu a {
	color: white;
  font-weight: 400;
  margin: 0 0.125rem;
	border: 0.125rem solid transparent;
	-webkit-transition : color 300ms ease-in-out;
  -moz-transition : color 300ms ease-in-out;
  -o-transition : color 300ms ease-in-out;
  transition : color 300ms ease-in-out;
	-webkit-transition : background-color 300ms ease-in-out;
  -moz-transition : background-color 300ms ease-in-out;
  -o-transition : background-color 300ms ease-in-out;
  transition : background-color 300ms ease-in-out;
}

#menu a:hover {
	/* border-bottom: 0.125rem solid #3F475B;	 */
	color: #3F475B;
	background-color: #FFF;
}

#menu a:focus {
	color: #3F475B;
	outline: none;
}

/* Content styles */
.section {
	padding: 30px;
}

.section h1 {
	margin: 0;
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-weight: 300;
	color: #3F475B;
}

.section p {
	font-size: 16px;
	text-align: center;
	margin: 10px 0;
	padding: 0 0 30px;
}

.section h4 {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-weight: 400;
	color: #3F475B;
}

.section a {
	display: block;
	padding: 5px 0 0;
	text-align: center;
}

.section span.icon {
	font-size: 40px;
	color: #3F475B;
	-webkit-transition : color 300ms ease-in-out;
  -moz-transition : color 300ms ease-in-out;
  -o-transition : color 300ms ease-in-out;
  transition : color 300ms ease-in-out;
}

.section span.icon:hover {
	color: lightblue;
}

.section span.icon-circle {
	background-color: #3F475B;
	color: #FFF;
	padding: 15px;
	border-radius: 50%;
	width: 73px;
	height: 73px;
}

.section span.icon-circle:hover {
	background-color: #FFF;
	color: #3F475B;
}

.section #headshot {
	margin: auto;
  border-radius: 50%;
  width: 200px;
  display: flex;
  padding: 20px 0 10px;
}
